
.topPanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 113px;
    background-color: orange
}

.titlebar {
    background-color: #FFFFFF;
    width: 100%;
    height: 28.14%
}

.menuPanel {
    background-color: #FFFFFF;
    height: 29%;
    width: 100%;
    transition-duration: .1s;
}

.editorPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6%;
    background-color: #edf2fa;
    border: none;
    border-radius: 24px;
    font-family: Google Sans, Roboto, sans-serif;
    margin: 6px 16px 8px 16px;
    height: 35%;
    padding: 0 8px;
    -webkit-font-smoothing: antialiased;
}

.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.57%;
    height: 70%;
    background-size: contain;
    border-width: 0;
}

.newSlideButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.05%;
    height: 70%;
    border-width: 0;
}

.newSlideMaketButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.84%;
    height: 73.63%;
    border-width: 0;
}

.undoButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.05%;
    height: 70%;
    border-width: 0;
}

.redoButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.05%;
    height: 70%;
    border-width: 0;
}

.printButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.05%;
    height: 70%;
    border-width: 0;
}

.formattingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.05%;
    height: 70%;
    border-width: 0;
}

.scaleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.05%;
    height: 70%;
    border-width: 0;
}

.scaleValueButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.65%;
    height: 70.68%;
    border-width: 0;
}

.chooseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.05%;
    height: 70%;
    border-width: 0;
}

.textFieldButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.05%;
    height: 70%;
    border-width: 0;
}

.insertImageButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.05%;
    height: 70%;
    border-width: 0;
}

.figureButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2%;
    height: 70%;
    border-width: 0;
}

.lineButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.05%;
    height: 70%;
    border-width: 0;
}

.chooseLineButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.84%;
    height: 73.63%;
    border-width: 0;
}

.addCommentButton {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 2.05%;
    height: 70%;
    border-width: 0;
}

.inputMethodsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.84%;
    height: 73.63%;
    background-color: lightslategray;
    border-width: 0;
}

.chooseInputMethodsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.84%;
    height: 73.63%;
    border-width: 0;
}

.fontSizeField
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf2fa;
    width: 14.05%;
    height: 56%;
    border-color: #918f8e;
    border-radius: 4px;
    border-width: 1px;
    text-align: center;
}

.fontSizeField:hover
{
    border-color:  #000000;
}

.fontSizeField:invalid {
    outline: none;
    border-color: #000000;
    color: #2E2E2E;
}

.fontSizeField:focus {
    outline: none;
    background: #edf2fa;
    border-width: 2px;
    border-color: #000000;
}

.dropdownMenu {
    position: absolute;
    /*top: 100%; !* Располагаем меню под полем ввода *!*/
    /*left: 0;*/
    background-color: #ffffff;
    border: 1px solid #ccc;
    /*padding: 5px;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*.dropdownMenu:hover {*/
/*    background-color:  #edf2fa;*/
/*}*/

.newSlideButton:hover {
    border-color: #f5f1f0;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}
.newSlideMaketButton:hover {
    border-color: #f5f1f0;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}

.undoButton:hover {
    border-color: #f5f1f0;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}

.redoButton:hover {
    border-color: #f5f1f0;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}
.textFieldButton:hover {
    border-color: #f5f1f0;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}

.insertImageButton:hover {
    border-color: #f5f1f0;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}

.figureButton:hover {
    border-color: #f5f1f0;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}

.lineButton:hover {
    border-color: #f5f1f0;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}

.chooseLineButton:hover {
    border-color: #f5f1f0;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}

